@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.auth-button{
  @apply font-robotoMono text-[1.2rem]  font-medium hover:text-gray-600 mx-5;
}

.set-link{
  @apply auth-button p-2 flex justify-center items-center;
}

.footer-link{
  @apply font-iceland text-[1.8rem] text-gray-400 hover:text-[#F4F6FF] cursor-pointer;
}
.footer-copyright{
  @apply font-consolas text-[1.3rem] text-gray-400 hover:text-[#F4F6FF] h-[5rem] w-full bg-[#0B2447] flex justify-center items-center p-3 border-t-2 border-gray-400;
}

.sidebar-close{
  @apply w-[20vw] h-[100vh] bg-white text-black p-3 overflow-hidden fixed left-[-20vw] transition-all duration-300;
}

.sidebar-link{
  @apply font-robotoMono rounded-[0.4rem] flex flex-row justify-start items-center p-3 text-[1.2rem]  text-gray-600 flex flex-row justify-start items-center gap-4 hover:text-black cursor-pointer hover:bg-slate-50;
}

.sidebar-open{
  @apply w-[20vw] h-[100vh] bg-white text-black p-3 overflow-hidden transition-all duration-300  absolute left-0 ;
}